body {
  width: 100vw;
  height: 100vh;
}

.slaider-wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5%;
    margin: 20% auto;
    background-color: cyan;  
}

.img-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.slaid {
    width: 90%;
    height: auto;
}

.slaid2 {
    margin-top: -73%;
    opacity: 0;
    visibility: hidden;
}

.slaid3 {
    margin-top: -73%;
    opacity: 0;
    visibility: hidden;
}

.slaid4 {
    margin-top: -72%;
    opacity: 0;
    visibility: hidden;
}

.conteiner-pagination1, .conteiner-pagination2, .conteiner-pagination3, .conteiner-pagination4 {
    width: 50%;
    height: 35%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    cursor: pointer;
}

.pagination-conteiner {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-top: 50%;
    margin-bottom: 10%;
}

.pagination-wrapper {
    display: flex;
    width: 30%;
}

#pagination1, #pagination2, #pagination3, #pagination4 {
    width: 2vw;
    height: 2.5vh;
    background-color: blue;
    cursor: pointer;
}

.text1, .text2, .text3, .text4 {
    font-size: larger;
    font-style: italic;
    color: darkblue;
    margin-top: 0%;
}

.text2 {
    margin-top: -30%;
    opacity: 0;
    visibility: hidden;
}

.text3 {
    margin-top: -28%;
    opacity: 0;
    visibility: hidden;
}

.text4 {
    margin-top: -30%;
    opacity: 0;
    visibility: hidden;
}

input + label:hover {
    background-color: aliceblue;
    outline: 0.1rem solid rgb(31, 39, 72);
    transition: 1s;
}

input {
    display: none;
}

input + label {
    display: inline-block;
    width: 50%;
    height: 120%;
    border-radius: 0.5rem;
    background-color: blue;
    outline: 0.2rem solid rgba(21, 204, 122, 0.508);
    cursor: pointer;
    top: 90%;
}

input:checked + label {
    background: rgb(46, 8, 107);
}



